.darkBG {
    background: #999;
}

.darkerBG {
    background: #666;
}

.darkestBG {
    background: #333;
}

.captionBG {
    background: rgba(100, 100, 100, 0.7);
}

#register-header {
    text-align: center;
    margin: 3rem 0 1.5rem 0;
}

#register-button {
    transition: all 1s;
}

#register-button:hover {
    transform: scale(1.1)
}